@use "../../styles/variables.scss";

.form {
  margin: 1rem 0;
  height: 19rem;
  overflow: auto;
}

.control {
  margin-bottom: 0.5rem;

  label {
    font-weight: bold;
    margin-bottom: 0.25rem;
    display: block;
  }

  input {
    font: inherit;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 20rem;
    max-width: 100%;
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;

  button {
    font: inherit;
    color: variables.$dark-orange;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 25px;
    padding: 0.5rem 2rem;

    &:hover,
    &:active {
      background-color: #ffe6dc;
    }
  }

  .submit {
    border: 1px solid variables.$dark-orange;
    background-color: variables.$dark-orange;
    color: white;

    &:hover,
    &:active {
      background-color: #7a2706;
    }
  }
}

.invalid {
  label {
    color: #ca3e51;
  }
  input {
    border-color: #aa0b20;
    background-color: #ffeff1;
  }
}
